body{
	background: #FDF0D5;
}

.slaq{
  width: 50%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #739AB9;
  border-radius: 50px;
  transition: 0.3s ;
}

.slaq:hover{
  width: 70%;
  height: 85px;
  display: flex;
  align-items: center;
  background: #103047;
  border-radius: 50px;
  transition: 0.3s ;
}