body{
	background: #FDF0D5;
}

.slaq{
  width: 40%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #739AB9;
  border-radius: 50px;
  transition: 0.3s ;
}

.slaq:hover{
  width: 60%;
  height: 70px;
  display: flex;
  align-items: center;
  background: #103047;
  border-radius: 50px;
  transition: 0.3s ;
}

.fix{
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
}

.footer{
  width: 100%;
  height: 50px;
  background: #103047;
  margin: 15px 0px 0px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.ftext{
  font-size: 1.5em;
  color: #FDF0D5;
   margin: 0px;
}

@media only screen and (max-width: 600px) {
  
    .footer{
  width: 100%;
  height: 110px;
  background: #103047;
  margin: 15px 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.p1{
  margin: 0px;
  }
}
}
